/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9b59b6;
    font-family: Arial, sans-serif;
}

#buttons {
    display: flex;
    gap: 20px;
}

.btn, .stop {
    padding: 15px 25px;
    background: #512da8;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.2s;
}

.btn:hover, .stop:hover {
    background: #311b92;
}
